header {
	padding-bottom: 12px;
	border-bottom: 1px solid #444;
}

header a {
	color: #333;
}

header a:hover {
	text-decoration: none;
	color: #333;
}

#content {
	border-top: 1px solid #666;
	margin-bottom: 1.5em;
	height: 100%
}

#sidebar {
	/*border-right: 2px solid #666;*/
	height: 100%;
	float: right;
}

#galleryMode {
	font-size: 22px;
	margin-top: 1em;
}

#main {
	padding: 1.8em 0 0 3em ;
	margin-bottom: 3em;
}

#sidebar .year {
	margin: 12px 0 0 ;
	cursor: pointer;
}

#sidebar ul li {
	cursor: pointer;
}

#sidebar .year:hover, #sidebar ul li:hover {
	color: rgb(76,158,217)
}

#main h2 {
	margin: 0 0 20px;
}

.icon {
	display: inline-block;
	margin: 0 3em 2em 0;
	cursor: pointer;
	vertical-align: top;
}

.icon:hover {
	opacity: 0.75;
}

.icon .picture {
	/*border-radius: 10px;*/
	width: 150px;
	/*box-shadow: 0 4px 6px rgba(0,0,0,0.4);*/
}

.icon .picture img {
	width: 100%;
	/*border-radius: 10px;*/
}

.icon .name {
	display: inline-block;
	padding: 0.5em;
	margin: 0;
	font-size: larger;
	font-weight: 700;
	text-align: center;
	width: 150px;
}

.project .name h2 {
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.project .author {
	margin: 0 0 20px;
	text-align: center;
}

.project .demo {
	margin: 0 auto;
	/*box-shadow: 0 2px 8px rgba(0,0,0,0.4);*/
	margin-bottom: 20px;
}

.project .demo {
	width: 70%;
}

.project .demo img {
	width: 100%;
}

.project .demo, .project .demo img {
	/*height: 500px;*/
	/*border-radius: 4px;*/
	background-image: url('../images/play.png');
	background-size: ;
	background-repeat: no-repeat;
	background-position: center center;
}

.project .demo:hover {
	opacity: 0.75;

}

.project p {
	margin-top: 10px;
}