<!DOCTYPE HTML>
<html ng-app="live">
	<head>
		<link rel="icon" href="./favicon.ico">
		<title>DeltaHacks II</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script type="text/javascript" src="angularfire.min.js"></script>
        <script type="text/javascript" src="announcements.js"></script>
	</head>
	<body class="landing" ng-controller="AnnouncementController as a">
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Home -->
                <section class="wrapper">
                    <a href="#" class="button special" ng-if="!a.loggedin()" ng-click="a.login()">Login</a>
                    <div ng-if="a.loggedin()">
                        <p>The text you enter in the form will be the text that gets posted.</p>
                        
                        
                        
                        <ul>
                            <li ng-repeat="a in a.announcements">{{a.$value}}</li>
                        </ul>
                        
                        <p>Write up your announcements here:</p>
                        <input type="text" class="form-control" ng-model="a.text"/>
                        <br />
                        <a href="#" class="button special" ng-click="a.submit()">Submit Announcement</a>
                    </div>
                </section>


		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/canvasparticles.min.js"></script>
			<script src="../assets/js/particles.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
