<!DOCTYPE HTML>
<html ng-app="live">
	<head>
		<link rel="icon" href="./favicon.ico">
		<title>DeltaHacks II</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/css/main.css" />
        <link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <style>
            body.is-loading #banner h1 {
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
            body.is-loading #banner a div{
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
            body.is-loading #banner a div p{
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }
        </style>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script type="text/javascript" src="angularfire.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
	</head>
	<body class="landing" ng-controller="AnnouncementController as a">
		<!-- Page Wrapper -->
			<div id="page-wrapper">

                <!-- Header -->
                <header id="header">
                    <h1><a href="/live">DeltaHacks II Live</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a class="menuMobile" href="/live/prizelist.html">Prize List</a></li>
                            <li><a class="menuMobile" href="/live/eventmaps.html">Event Maps</a></li>
                            <li><a class="menuMobile" href="/live/schedule.html">Schedule</a></li>
                            <li><a class="menuMobile" href="/live/info.html">Info</a></li>

                            <li class="special">
                                <a href="#menu" class="menuToggle"><span></span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="/live/prizelist.html">Prize List</a></li>
                                        <li><a href="/live/eventmaps.html">Event Maps</a></li>
                                        <li><a href="/live/schedule.html">Schedule</a></li>
                                        <li><a href="/live/info.html">Info</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>

				<!-- Home -->
                    <section id="announcements" class="wrapper">
                        <div class="inner row">
                            <h2>Welcome to DELTAHACKS II<h2 style="color:red;">LIVE</h2></h2>
                            <div class="6u 12u$(medium)"  ng-if="a.announcements.length">
                                <h1>Announcements</h1>
                                <div class="panel panel-default" style="border-style:solid; border-color:#7A8794; border-width:1px">
                                    <div class="panel-body" style="height:500px; overflow-y:scroll; padding:15px;">
                                        <ul style="margin-bottom:0; padding-bottom:0; font-size:18px; list-style-type:none; padding-left:0; padding-top:15px">
                                            <li ng-repeat="announcement in a.announcements | orderBy:'-$id'" style="padding-bottom:15px;">{{announcement.$value}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="6u 12u$(medium)">
                                <h1>Twitter Feed</h1>
                                    <a class="twitter-timeline"  href="https://twitter.com/DeltaHacks" data-widget-id="687705000475267073">Tweets by @DeltaHacks</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </div>

                            <ul class="features">
                                <li class="icon fa-paper-plane-o">
                                    <h3>Important Links</h3>
                                    <p>
                                        Participants group: <a href="https://www.facebook.com/groups/1671195733137406/">fb.com/groups/1671195733137406/</a>
                                    </p>

                                    <p>
                                        Submissions: <a href="http://deltahacks2.devpost.com/">http://deltahacks2.devpost.com/</a>
                                    </p>

                                    <p>
                                    Student Centre Rm 301: <a href="/live/info.html#hardware">Hardware Rental</a>
                                    </p>

                                    <p>
                                    <a href="/live/schedule.html#workshops">Workshops</a><br>
                                    <a href="/live/prizelist.html#credits">API credits</a>
                                    </p>

                                    <h4>Mentor App</h4>
                                    <p>
                                    <a href="http://dhhelpq.meteor.com/">http://dhhelpq.meteor.com/</a>
                                    <br>
                                    Get connected with mentors (technical, healthcare, etc) or be a mentor yourself and help answer questions!
                                    </p>
                                </li>
                                <li class="icon fa-laptop">
                                    <h3>Useful Info</h3>
                                    <p>
                                    Wear your wristband at all times!
                                    </p>
                                    <h4>WiFi</h4>
                                    <p>
                                        Use MacSecure if you're a McMaster student.
                                    </p>
                                    <p>
                                        Use EduRoam if you're another university student.
                                    </p>

                                    <p>
                                        Otherwise, Come see us on Student Centre 1st floor (info desk) if you need a wifi pass
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<!--<li>Questions? Contact us at <a href="mailto:hello@deltahacks.com?subject=Hello&amp;body=Hello!">hello@deltahacks.com</a>-->
				<li><br><br><br><a href="mailto:hello@deltahacks.com?subject=Hello&amp;body=Hello!">hello@deltahacks.com</a></li>
				<!--<span><br><br></span>Built with <i class="fa fa-heart-o"></i> in McMaster University</li>-->
			</ul>
			<ul class="icons">
				<li><a href="https://twitter.com/deltahacks" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/DeltaHacks-1548991658675739" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://instagram.com/deltahacks/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="http://medium.com/hackitmac-blog" class="icon fa-medium"><span class="label">Medium</span></a></li>
			</ul>

<!-- 			<div class="col-lg-8 col-lg-offset-2 text-center">
	            <p>© 2016 DeltaHacks. All Rights Reserved</p>
    		</div> -->

		</footer>


		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/canvasparticles.min.js"></script>
			<script src="../assets/js/particles.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../assets/js/main.js"></script>

	</body>
</html>
