html {
	background-image: url("../img/headerbg.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 21px;
}


img {
	max-width: 60%;
	display: block;
	padding-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding-top: 30px;
	text-align: center;
	color: white;
}

#mc_embed_signup {
	padding-top: 35px;
	color: white;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	background: #5CBFBF;
	border-color: #5CBFBF;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size:100%;
}


