html {
	background-image: url("../img/headerbg.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 21px;
}


img {
	max-width: 60%;
	display: block;
	padding-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding-top: 30px;
	text-align: center;
	color: white;
}

#mc_embed_signup {
	text-align: center;
	padding-top: 1.5%;
	color: white;
	padding-left: 7.1%;

}

#mc-embedded-subscribe-form {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:400px;
}


.button {
	background: #5CBFBF !important;
	border-color: #5CBFBF !important;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size:100%;
	max-width: 0px;
}
