html {
	background-image: url("../img/headerbg.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 21px;
	background-repeat: no-repeat;
}


img {
	max-width: 60%;
	display: block;
	padding-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
p {
	padding-top: 30px;
	text-align: center;
	color: white;
}

#mc_embed_signup {
	text-align: center;
	padding-top: 1.5%;
	color: white;

}

#mc-embedded-subscribe-form {

	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:600px;
}


.button {
	background: #5CBFBF;
	border-color: #5CBFBF;
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	font-size:100%;
	padding: 2px 2px 7px 2px;
}

#bothalfmail {
	padding-top: 30px;
	display: inline-block;

}

#mce-EMAIL.email {
	height: 23px;
}