div.timer {
    text-align: center;
}

.boxtitles {
    text-align: center;
}

p1 {
   font-size: 1em; 
   line-height: 1.6;
}

h1.size {
    font-size: 1.1em;
}

.paddingmain {
    padding: 0em;
}
.paddingtitle {
    padding: 0em;
    margin-bottom: 2em;
}

.paddingbody {
    animation: fadein 0.35s ease-in;
    padding: 0em;
}

table.margin{
    margin: 0;
}


