div.boxcontent{
    text-align: center;
}

img.logos {
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    vertical-align: middle;
    transition: 0.2s ease-out;
}

img.logos:hover {
    background-color: rgba(255,255,255,0.05);
}

a:link {
    border-bottom: none;
}

//COMPANIES

//platinum
img.microsoft {
    width:60%;
}

//gold 
img.IF {
    width:40%;
}
img.cancart{
    width:20%;
}
img.td {
    width:22%;
}

//silver
img.rbc {
    width:14%;
}
img.cibc {
    width:18%;
}
img.mse{
    width: 32%
}

//copper
img.cse {
    width:26%;
}
img.loyaltyone {
    width:31%;
}
img.synopsys {
    width:29%;
}


//base
img.rogers {
    width:22%;
}
img.fdm {
    width:15%;
}
img.am {
    width:19%;
}
img.forge{
    width: 19%;
}
img.sketch{
    width: 12%;
}
img.maplesoft{
    width: 21%;
}

//in-kind
img.bitalino {
    width:16%;
}
img.hypercare{
    width:24%;
}
img.obie {
    width:15%;
}
img.stickermule {
    width:25%;
}
img.wolfram {
    width:20%;
}
img.balsamiq {
    width: 18%;
}
img.stickeryou {
    width: 15%;
}

//food
img.pinks {
    width:25%;
}

//partners
img.mlh {
    width:22%;
}
img.maceng {
    width:18%;
}
img.maclib {
    width:18%;
}
img.mes {
    width:12%;
}


