div.boxcontent{
    text-align: center;
}

img.logos {
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    vertical-align: middle;
}

img.logos:hover {
    background-color: rgba(255,255,255,0.05);
}

a:link {
    border-bottom: none;
}


//COMPANIES

//platinum
img.microsoft {
    width:60%;
}

//gold 
img.IF {
    width:40%;
}
img.td {
    width:20%;
}

//silver
img.rbc {
    width:12%;
}
img.cibc {
    width:15%;
}

//copper
img.cse {
    width:10%;
}
img.loyaltyone {
    width:25%;
}
img.synopsys {
    width:25%;
}


//base
img.rogers {
    width:20%;
}
img.fdm {
    width:15%;
}

//in-kind
img.bitalino {
    width:20%;
}
img.obie {
    width:12%;
}
img.stickermule {
    width:25%;
}
img.wolfram {
    width:15%;
}

//food
img.pinks {
    width:25%;
}

//partners
img.mlh {
    width:22%;
}
img.maceng {
    width:18%;
}
img.maclib {
    width:18%;
}
img.mes {
    width:12%;
}


//Not Determined

